<!DOCTYPE html>
<html lang="en">
<head>
    <link href = "/asset/styles.css" rel = "stylesheet" type = "text/css"/>
    <meta charset="UTF-8">
    <title>node.js basic learn in one day</title>
</head>
<style>

</style>
<body>
<% include partial/navi.ejs %>
<h1>util.inherits(constructor, superConstructor)</h1>
<p>Returns the string name for a numeric error code that comes from a Node.js API. The mapping between error codes and error names is platform-dependent. See Common System Errors for the names of common errors.

    fs.access('file/that/does/not/exist', (err) => {
    const name = util.getSystemErrorName(err.errno);
    console.error(name);
    });</p>
</body>
</html>